<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  
  </style>

  <body style="background-image: url(../static/coverImage.jpg)">
    <div class="container text-center">
      <h1 class="text-primary my-5">Welcome to Weed Knowledge</h1>
    </div>
    <div class="buttons" style="display: flex; justify-content: center; padding-top: 50px;">
      <button class="signup" style="margin-right: 10px">Sign up</button>
      <button class="login" style="margin-left: 10px">Log in</button>
    </div>

    <div
      class="modal-signup"
      style="
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60rem;
        background-color: #f3f3f3;
        padding: 5rem 6rem;
        box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: all 0.5s;
        display: none;
      "
    >
    <div style="text-align: right;"><button class="btn--close-signup">&times;</button></div>
    <h2 class="modal__header" style="padding-bottom: 20px;">Sign Up</h2>
    <form class="modal__form">
      <p><label>Username:</label>
      <input type="text" /><br/><p>
        <p>
      <label>Password:</label>
      <input type="text" /></p>
      <p><label>Email Address:</label>
      <input type="email" /></p>
      <div style="text-align: center;">
      <button class="btn"><a href="/home" style="text-decoration: none;">Sign Up</a></button></div>
    </form>
    </div>

    <div
      class="modal-login"
      style="
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60rem;
        background-color: #f3f3f3;
        padding: 5rem 6rem;
        box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
        z-index: 1000;
        transition: all 0.5s;
        display: none;
      "
    >

      <div style="text-align: right;"><button class="btn--close-login">&times;</button></div>
      <h2 class="modal__header" style="padding-bottom: 20px;">Log in</h2>
      <form class="modal__form">
        <p><label>Username:</label>
        <input type="text" /><br/><p>
          <p>
        <label>Password:</label>
        <input type="text" /></p>
        <div style="text-align: center;">
        <button class="btn"><a href="/home" style="text-decoration: none;">Log in</a></button></div>
      </form>
    </div>
  </body>

  <script>
    const signUp = document.querySelector(".signup");
    const login = document.querySelector(".login");
    const modalSignup = document.querySelector(".modal-signup");
    const modalLogin = document.querySelector(".modal-login");
    const closeSignup = document.querySelector(".btn--close-signup");
    const closeLogin = document.querySelector(".btn--close-login");

    signUp.addEventListener("click", function (e) {
      modalSignup.style.display = "block";
    });

    closeSignup.addEventListener("click", function (e) {
      modalSignup.style.display = "none";
    });

    login.addEventListener("click", function (e) {
      modalLogin.style.display = "block";
    });

    closeLogin.addEventListener("click", function (e) {
      modalLogin.style.display = "none";
    });

    document.addEventListener("click", function (e) {
      if (!modalSignup.contains(e.target) && e.target !== signUp) {
        modalSignup.style.display = "none";
      }
      if (!modalLogin.contains(e.target) && e.target !== login) {
        modalLogin.style.display = "none";
      }
    });
  </script>
</html>
