<style>
  .features {
    text-align: center;
  }

  .features ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: 30px;
  }

  .features li {
    width: 150px;
    height: 150px;
    margin: 20px;
  }

  .features li {
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .features li a {
    color: black;
    text-decoration: none;
  }
</style>

{% extends 'layout.html' %} {% block content1 %} Dashboard {% endblock %} {%
block content %}

<div class="features" style="margin-top: 100px">
  <ul>
    <li><a href="/profile">Profile</a></li>

    {% if role=='gardener' %}
    <li><a href="/guide">Guide</a></li>
    {% endif %} {% if role=='staff' %}

    <li><a href="/gardeners">Gardener</a></li>
    <li><a href="guide">Manage Guide</a></li>
    {% endif %} {% if role=='admin' %}
    <li><a href="/gardeners">Manage Gardener</a></li>
    <li><a href="/staff">Manage Staff</a></li>
    <li><a href="/guide">Manage Guide</a></li>

    {% endif %}
  </ul>
</div>

{% endblock %}
