<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>My Website</title>
  </head>
  <body>
    <div
      class="header"
      style="width: 100%; height: 100px; background-color: blue"
    ></div>

    <div class="container">
      <div
        class="nav d-flex justify-content-between align-items-center"
        style="
          height: 60px;
          line-height: 60px;
          padding-left: 30px;
          font-size: 30px;
          border-bottom: 1px solid black;
        "
      >
        {% block content1 %} {% endblock %}
        <div class="d-flex align-items-center">
          {% block content2 %} {% endblock %}

          <button
            class="btn"
            style="
              font-size: 30px;
              background-color: black;
              border-radius: 10px;
              margin-left: 20px;
            "
          >
            <a
              href="{{ url_for('logout') }}"
              style="color: white; text-decoration: none"
              >Log out</a
            >
          </button>
        </div>
      </div>
    </div>

    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
