
<style>

  input {
    font-size: 20px;
  }

  p {
    display: flex; align-items: center;
  }

  label {
    margin-right: 30px;
  }
</style>



{% extends 'layout.html' %} 


{% block content1 %} Profile Management {% endblock %}

{% block content2 %} <button
class="btn"
style="font-size: 30px; background-color: black; border-radius: 10px"
>
<a href="{{ url_for('home') }}" style="color: white; text-decoration: none"
  >Home</a
>
</button>
{% endblock %}

{% block content %}





<div style="margin-top: 20px;text-align: center;display: flex; justify-content: center;">

    <div style="margin-right: 50px;">
      <form
        name="informationchange"
        id="informationchange"
        action="/profile"
        method="post"
        style="display: flex; flex-direction: column;margin: 0 auto; width: fit-content"

      >
        <p style="font-size: 30px">Personal Information</p>
        
        <div style="font-size: 20px;margin-left: 80px;">
          <p>
            <label>First Name:</label>
            <input name="firstname" id="firstname" value='{{details[1]}}' required />
          </input>
          </p>
  
          <p>
            <label>Last Name:</label>
            <input name="lastname" id="lastname" value='{{details[2]}}' required />
          </input>
      
          </p>
  
          <p>
            <label>Email:</label>
            <input name="email" id="email" value={{details[3]}} style="margin-left: 50px;" required />
          </input>
          </p>
  
          <p>
            <label>Phone :</label>
            <input name="phone" id="phone" value={{details[4]}} style="margin-left: 35px;"  required />
          </input>
          </p>
  
          {% if role =='gardener' %}
          <p>
            <label>Address:</label>
            <input name="address" id="address" value='{{details[5]}}' style="margin-left: 25px;"  required />
          </input>
      
          </p>
          {% endif %}
  
          <div>

            <div class="msg">{{ msgInfo }}</div>
            <button type="submit" value="update" style=" font-size: 20px;
            background-color: blue;
            border-radius: 10px;
            color: white;
            margin-left: 240px;
            margin-top: 10px;
            cursor: pointer;">Update</button>
            
            <button
            style="
              margin-bottom: 10px;
              border-radius: 10px;
              font-size: 20px;
              background-color: blue;
              margin-left: 10px;
            "
          >
            <a href="/home" style="color: white; text-decoration: none">Back</a>
          </button>
          </div>
        </div>
      </form>
    </div>

    <div>
        <form
          name="passwordchange"
          id="passwordchange"
          action="/profile"
          method="post"
          style="display: flex; flex-direction: column;margin: 0 auto; width: fit-content"
        >
          <p style="font-size: 30px">Password Change</p>

          <div  style="font-size: 20px;margin-left: 80px;">
          <p>
            <label>Current password:</label>
            <input type="password" name="curpassword" required />
          </p>
          <p>
            <label>New password:</label>
            <input type="password" name="newpassword" style="margin-left: 30px;" required/>
          </p>
          <p>
            <label>Confirmed password:</label>
            <input type="password" name="conpassword" required/>
          </p>

          <div >

            <div class="msg">{{ msgPassword }}</div>
            <button type="submit" value="update" style=" font-size: 20px;
            background-color: blue;
            border-radius: 10px;
            color: white;
            margin-left: 240px;
            margin-top: 10px;
            cursor: pointer;"
            >Update</button>
            <button
            style="
              margin-bottom: 10px;
              border-radius: 10px;
              font-size: 20px;
              background-color: blue;
              margin-left: 10px;
            "
          >
            <a href="/home" style="color: white; text-decoration: none">Back</a>
          </button>
          </div>
        </div>
        </form>

        
      </div>
</div>

{% endblock %}