
<style>

  input {
    font-size: 20px;
  }
</style>



{% extends 'layout.html' %} 


{% block content1 %} Profile Management {% endblock %}

{% block content2 %} <button
class="btn"
style="font-size: 30px; background-color: black; border-radius: 10px"
>
<a href="{{ url_for('home') }}" style="color: white; text-decoration: none"
  >Home</a
>
</button>
{% endblock %}

{% block content %}





<div style="margin-top: 20px;text-align: center;">

    <div>
      <form
        name="informationchange"
        id="informationchange"
        action="/profile"
        method="post"
        style="display: flex; flex-direction: column;"

      >
        <p style="font-size: 30px">Personal Information</p>
        
        <div style="font-size: 20px;margin-left: 80px;">
          <p>
            <label>First Name:</label>
            <input name="firstname" id="firstname" value='{{details[1]}}'>
          </input>
          </p>
  
          <p>
            <label>Last Name:</label>
            <input name="lastname" id="lastname" value='{{details[2]}}'>
          </input>
      
          </p>
  
          <p>
            <label>Email:</label>
            <input name="email" id="email" value={{details[3]}}>
          </input>
          </p>
  
          <p>
            <label>Phone Number:</label>
            <input name="phone" id="phone" value={{details[4]}}>
          </input>
          </p>
  
          {% if role =='gardener' %}
          <p>
            <label>Address:</label>
            <input name="address" id="address" value='{{details[5]}}'>
          </input>
      
          </p>
          {% endif %}
  
          <div>

            <div class="msg">{{ msgInfo }}</div>
            <button type="submit" value="update" style=" font-size: 20px;
            background-color: blue;
            border-radius: 10px;
            color: white;
            margin-left: 240px;
            margin-top: 10px;
            cursor: pointer;">Update</button>
            
            <button
            style="
              margin-bottom: 10px;
              border-radius: 10px;
              font-size: 20px;
              background-color: blue;
            "
          >
            <a href="/home" style="color: white; text-decoration: none">Back</a>
          </button>
          </div>
        </div>
      </form>
    </div>

    <div>
        <form
          name="passwordchange"
          id="passwordchange"
          action="/profile"
          method="post"
        >
          <p style="font-size: 30px">Password Change</p>

          <div  style="font-size: 20px;margin-left: 80px;">
          <p>
            <label>Current password:</label>
            <input type="password" name="curpassword" required />
          </p>
          <p>
            <label>New password:</label>
            <input type="password" name="newpassword" required/>
          </p>
          <p>
            <label>Confirmed password:</label>
            <input type="password" name="conpassword" required/>
          </p>

          <div >

            <div class="msg">{{ msgPassword }}</div>
            <button type="submit" value="update" style=" font-size: 20px;
            background-color: blue;
            border-radius: 10px;
            color: white;
            margin-left: 240px;
            margin-top: 10px;
            cursor: pointer;"
            >Update</button>
            <button
            style="
              margin-bottom: 10px;
              border-radius: 10px;
              font-size: 20px;
              background-color: blue;
            "
          >
            <a href="/home" style="color: white; text-decoration: none">Back</a>
          </button>
          </div>
        </div>
        </form>

        
      </div>
</div>

{% endblock %}