
<style>
  label {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
</style>



{% extends 'layout.html' %}

{% block content1 %} Weed Managment {% endblock %}

{% block content2 %} <button
class="btn"
style="font-size: 30px; background-color: black; border-radius: 10px"
>
<a href="{{ url_for('home') }}" style="color: white; text-decoration: none"
  >Home</a
>
</button>
{% endblock %}

{% block content %}

<div style="margin-top: 30px;">
<div>
  <h2 class="text-center">Update Weed</h2>
</div>
<div   style="font-size: 20px; text-align: center; margin-top: 20px">
  <form
    class="add"
    action="/guide/update/{{weed[0]}}"
    method="post"
    enctype="multipart/form-data"
    style="margin: 0 auto; width: fit-content"
  >
    <p>
      <label style="width: 160px">Common Name:</label>
      <input type="text" name="commonname" value="{{weed[1]}}" required />
    </p>

    <p>
      <label>Weed Type:</label>
      <input type="text" name="type" value="{{weed[2]}}" required />
    </p>

    <p>
      <label style="width: 160px">Scientific Name:</label>
      <input type="text" name="scientific" value="{{weed[3]}}" required />
    </p>

    <label style="margin-left: 10px">Primary image:</label>
      <select name="image" id="image" required>
        <option value="" disabled selected hidden>
          Select A Primary Image
        </option>

        {% for image in imagefile %}
        <option value="{{image}}">{{image}}</option>
        {% endfor %}
      </select>


    <div style="display: flex; align-items: center; margin-top: 10px">
        <label>description:</label>
        <textarea name="description" rows="4" cols="50" required>{{description or weed[4]}}</textarea>
    </div>
  
      <div style="display: flex; align-items: center; margin-top: 10px">
        <label>Impacts:</label>
        <textarea name="impacts" rows="4" cols="50" required>{{impact or weed[5]}}</textarea>
      </div>
  
      <div style="display: flex; align-items: center; margin-top: 10px">
        <label>Control Methods:</label>
        <textarea name="control" rows="4" cols="50" required>{{control or weed[6]}}</textarea>
      </div style="display: flex; align-items: center; margin-top: 10px">



    <div style="text-align: center;margin-top: 20px; margin-left: 50px">

      <button
        type="submit"
        value="update"
        style="
          margin-bottom: 10px;
          border-radius: 10px;
          font-size: 20px;
          background-color: blue;
          color: white;
        "
      >
        Update
      </button>
      <button
        style="
          margin-bottom: 10px;
          border-radius: 10px;
          font-size: 20px;
          background-color: blue;
          margin-left: 50px;
        "
      >
        <a href="/guide/detail/{{weed[0]}}" style="text-decoration: none; color: white">Back</a>
      </button>

    </div>
  </form>
</div>
</div>


{% endblock %}