{% extends 'layout.html' %} {% block content1 %} Weed Managment {% endblock %}
{% block content2 %}
<button
  class="btn"
  style="font-size: 30px; background-color: black; border-radius: 10px"
>
  <a href="{{ url_for('home') }}" style="color: white; text-decoration: none"
    >Home</a
  >
</button>
{% endblock %} {% block content %}

<div style="margin: 30px">
  <h2 class="text-center">Weed Details</h2>

  {% if role != 'gardener' %}
  <div>
    <button
      style="
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 20px;
        background-color: black;
      "
    >
      <a href="/guide" style="color: white; text-decoration: none">
        &lt;Back
      </a>
    </button>
    <button
      style="
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 20px;
        background-color: blue;
      "
    >
      <a
        href="/guide/update/{{weed[0]}}"
        style="color: white; text-decoration: none"
        >Update</a
      >
    </button>

    <button
      style="
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 20px;
        background-color: red;
      "
      class="btn-delete"
    >
      <a
        href="/guide/delete/{{weed[0]}}"
        style="color: white; text-decoration: none"
        >Delete</a
      >
    </button>
  </div>

  {% endif %}
  <div style="margin-top: 30px">
    <h2>{{weed[1]}}</h2>
    <h4 style="padding-top: 3px">Scientific Name</h4>
    <p style="padding-bottom: 8px">{{weed[3]}}</p>
    <h4>Description</h4>
    <p>{{description or weed[4]}}</p>
    <h4>Impact</h4>
    <p>{{impact or weed[5]}}</p>
    <h4>Control Method</h4>
    <p>{{control or weed[6]}}</p>
    <h4>Image</h4>
    {% for image in imagefile %}

    <img
      src="{{ url_for('static', filename='weeds/' + weed[1] + '/images/' + image) }}"
      alt=""
      style="width: 140px; height: 140px"
    />
    {% endfor %}
  </div>
</div>

<script>
  const deleteBtn = document.querySelector(".btn-delete");

  deleteBtn.addEventListener("click", function (e) {
    e.preventDefault();

    const confrimed = window.confirm("Do you want to delete it?");

    if (confrimed) {
      window.location.href = deleteBtn.querySelector("a").getAttribute("href");
    }
  });
</script>

{% endblock %}
